@import './../node_modules/material-icons/css/material-icons.min.css';
@import './../node_modules/materialize-css/dist/css/materialize.min.css';

.principal-menu {
	background-color: #304155;
}

main {
	min-height: 400px;
}

.preloader-wrapper {
	position: absolute;
	top :0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.list-marcas {
	padding: 10px 0;
    box-shadow: 0 0 5px rgba(3, 35, 58, 0.8);	
    background-color: #318fcf !important;
}

.list-marcas h5 {
	color: white;
}

.marca-item {
	background-color: #304155 !important;
}

.marca-item a {
	color: white;
}

.icon-shopping-car {
	font-size: 15px;
}

.col .card .image-marca img {
	width: 110px;
}

.col .card .detail-marca {
	padding-top: 0;
}

.container-browser-article, .search-article, .input-search-article {
	margin-bottom: 0 !important;
}

.container-logo {
	margin: 0;
	padding: 0;
}

.container-logo .logo {
	height: 150px;
	width: 300px;
}

.info-row, .card-info {
	margin: 0;
	padding: 0;
}

.card-info {
	box-shadow: none;
}

.card-info > div {
	margin: 0;
}

.datos-contacto, .row-email, .row-nums, .row-direccion {
	margin: 0;
}

.dato, .dato-icon {
	color: #304155;
}

.dato-icon {
	font-size: 18px;
}

footer {
	background-color: #304155 !important;	
}

footer .row {
	font-style: normal !important;
}